@font-face {
  font-family: "SFPro";
  src: url("./SFPro.ttf");
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "SFPro";
}

#main-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#command-center-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.field-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  width: 25%;
}

.field-label {
  margin-right: 10px;
}

#select-ships {
  padding: 5px;
}

.input-text-field {
  padding: 5px;
}

table {
  border: 1px solid black;
  border-spacing:0; 
}
th {
  width: 160px;
  text-align: center;
  border: 1px solid black;
}

td {
  padding: 5px;
  text-align: center;
  border: 1px solid black;
}

#btn-search {
  border: none;
  background-color: #147efb;
  color: white;
  padding: 4px 11px 4px 11px;
  border-radius: 500px;
  cursor: pointer;
}

#pages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 30px;
  width: 100%;
}

.btn-page {
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border: none;
  color: black;
  background-color: white;
}

.btn-page-selected {
  background-color: black;
  color: white;
}